<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <script type="text/javascript" src="js/gimnasio.js"></script>

    <title>"El Tío"</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"></link>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"></link>

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet"></link>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">GIMNASIO "EL TÍO"</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Transacciones</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Acerca de Nosotros</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Logearse</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt=""/>
        <h1 class="text-uppercase mb-0">"EL TÍO"</h1>
        <hr class="star-light"/>
        <h2 class="font-weight-light mb-0">Comienza tu vida saludable</h2>
      </div>
    </header>

    <!-- Portfolio Grid Section -->

    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Transacciones</h2>
        <hr class="star-dark mb-5"/>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/cabin.png" alt=""/>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/cake.png" alt=""/>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3" onclick="ocultarDivs()">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/circus.png" alt=""/>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Acerca de nosotros</h2>
        <hr class="star-light mb-5"/>
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead"> Tenemos la misión de promover y  concienciar  a la población por el hábito  de  actividad física, para contribuir a mejorar la salud y el bienestar de las personas, con un compromiso de gestión orientado a la mejora continua y la obtención de buenos resultados.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Somos una empresa innovadora e integradora dentro del sector, formada por  un equipo de profesionales cualificados y altamente motivados, que prestan un servicio orientado a las necesidades y expectativas de los abonados, contamos con modernas instalaciones , que contribuyen al desarrollo de hábitos deportivos saludables.</p>
          </div>
        </div>
        <div class="text-center mt-4">
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Logearse</h2>
        <hr class="star-dark mb-5"/>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Sucursal</label>
                  <input class="form-control" id="name" type="text" placeholder="Nombre" required="required" data-validation-required-message="Por favor ingresar sucursal"/>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Password</label>
                  <input class="form-control" id="email" type="password" placeholder="Password" required="required" data-validation-required-message="Por favor ingresar password"/>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br/>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Ingresar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Locación</h4>
            <p class="lead mb-0">El Palmar
              <br/>Santa Ana</p>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; "El tío"</small>
      </div>
    </div>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Sucursal</h2>
              <hr class="star-dark mb-5"/>
              <img class="img-fluid mb-5" src="img/portfolio/cabin.png" alt=""/>
              <p class="mb-5">Visítanos en cualquiera de nuestras sucursales del país</p>
                  <select class="table-bordered">
					<option th:each="sucursales : ${listaTodasSucursales}" th:text="${sucursales.nombreSucursal}" th:value="{sucursales.nombre}"></option>
					</select>
              <p id="demo"></p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Pagos</h2>
              <hr class="star-dark mb-5"/>
              <img class="img-fluid mb-5" src="img/portfolio/cake.png" alt=""/>
              <p class="mb-5">Pagos de nuestros clientes</p>
         <table class="table-bordered">
		<tbody th:each="pagos : ${listaTodosPagos}">
			<tr>
				<td th:text="${pagos.idpago}"></td>
				<td th:text="${pagos.fecha}"></td>
			</tr>
		</tbody>
	</table>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Cliente</h2>
              <hr class="star-dark mb-5/"/>
              <img class="img-fluid mb-5" src="img/portfolio/circus.png" alt=""/>
              <p class="mb-5">Puedes agregar, eliminar o modificar la información de nuestros clientes</p>
              <button type="submit" class="btn btn-primary btn-xl" id="btnagregar" onclick="mostrarAgregar()">Agregar</button>
              <button type="submit" class="btn btn-primary btn-xl" id="btneliminar" onclick="mostrarEliminar()">Eliminar</button>
              <button type="submit" class="btn btn-primary btn-xl" id="btneditar" onclick="mostrarEditar()">Editar</button>
              <br/><br/>
              <!--Para formulario de agregar-->
              <div class="container" id="contenedorAgregar">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Nombre</label>
                  <input class="form-control" id="name" type="text" placeholder="Nombre" required="required" data-validation-required-message="Por favor ingresar nombre"/>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Sexo</label>
                  <input class="form-control" id="name" type="text" placeholder="Sexo" required="required" data-validation-required-message="Por favor ingresar sexo"/>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br/>
              <a id="agregarUser" class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Agregar</a>
                <br/><br/>
              </div>

              <!--Para formulario de eliminar-->
              <div class="container" id="contenedorEliminar">
                <br/><br/>
                <input id="buscadorUser" type="text" class="form-control" placeholder="Busque una usuario" list="lista"/>
                <datalist id="lista"></datalist>
                <br/>
                <a id="eliminarUser" class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Eliminar</a>
                  <br/><br/>
              </div>
              <!--Para formulario de editar-->
              <div class="container" id="contenedorEditar">
                <br/><br/>
              <input id="buscadorUser" type="text" class="form-control" placeholder="Busque una usuario" list="list"/>
              <datalist id="list"></datalist>
              <br/>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Nombre</label>
                  <input class="form-control" id="name" type="text" placeholder="Nombre" required="required" data-validation-required-message="Por favor ingresar nombre"/>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Sexo</label>
                        <form action="">
                          <input class="form-control" type="radio" name="gender" value="male"/> Masculino
                          <input class="form-control" type="radio" name="gender" value="female"/> Femenino
                        </form>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br/>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Guardar cambios</a>
              </div>
              <br/><br/>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

  </body>

</html>
