<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport"
    	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script type="text/javascript" src="js/gimnasio.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>login</title>
        <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css"
    	rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    	rel="stylesheet" type="text/css"></link>
    <link
    	href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
    	rel="stylesheet" type="text/css"></link>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet"
    	type="text/css"></link>

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <!-- Contact Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Logearse</h2>
    <hr class="star-dark mb-5" />
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        <form name="sentMessage" id="contactForm" novalidate="novalidate">
          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Número de empleado</label> <input class="form-control" id="name"
                type="text" placeholder="Nombre" required="required"
                data-validation-required-message="Por favor ingresar sucursal" />
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div
              class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Password</label> <input class="form-control" id="email"
                type="password" placeholder="Password" required="required"
                data-validation-required-message="Por favor ingresar password" />
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br />
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-xl"
              id="sendMessageButton">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/freelancer.min.js"></script>
  </body>
</html>